
@font-face {
         font-family: "lato";
         src: url('../fonts/Lato-Regular.ttf');
         }
         @font-face {
         font-family: "latol";
         src: url('../fonts/Lato-Light.ttf');
         }
body,h1,h2,h3,h4,h5, .btn{
	font-family: "lato";
   color: #424251;
}
.btn{
   color: #fff;
}
.jobs-nm-text{
	font-family: "latol";
}
.is{
	background-color: red;
}

.isi{
	background-color: #000;
}
.navbar-default .navbar-nav>li>a, .navbar-brand{
	font-family: "latol";
}
table.tpp tr td{
	padding: 10px 0;
}
.skills{
   background-color: #83af9a;
   padding: 5px;
   margin: 0px 5px;
   border-radius: 5px;
   color: #fff;
   font-size: 8pt;
}
.navbar-default{
   border:0;
   background-color: #77ACA2;
   box-shadow: 0 4px 2px -2px #c2c2c2;

}
.row .bty{
   text-align: right;
   background-color: #fff;
   color:#fff;
   border-bottom:1px solid #77ACA2;
}
.search{
   border:1px solid #E0E0E0;
   height: 100px;
   background-color: #fff;
}
.company-nm-text{
   color: #5b9589;
}
.btn-info{
   background-color: #77ACA2;
   border:0;
}
.btn-info:hover{
   background-color: #99c1b9;

}
.pem{
   padding: 10px;
   color: #A5B5C3;
}
.ats{
   padding: 8px;
}.farr{
   border: 0;
}
.navbar-nav>li{
   padding-top: 11px;
   padding-bottom: 11px;
}
.ac{
   background-color: #5b9589;
   color: #fff;
}
.navbar-header{
   padding-top: 10px;
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover{
   background-color: #77ACA2;
}
.pendaf{
   padding: 0;
}
.pendaf li {
    overflow: hidden;
    background-color: #e9e9e9;
    list-style: none;
    white-space:nowrap;
    margin-right: 10px;
    border-radius: 50px;
    display: inline-block;
}
    .pendaf li a {
        opacity: 0;
        color: #666;
        max-width: 0;
        display: inline-block;
        text-decoration: none;
        transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
    }
        .pendaf li a:hover {
            color: #77ACA2;
        }
        .pendaf li a i {
            float:right;
            display: block;
            padding-right: 1em;
            font:1em/1 'rokkitt', sans-serif;
        }
    .pendaf li b {
        color: #c33;
        line-height:1;
        font-size: 25px;
        display: inline-block;
        padding:5px;
    }
    .pendaf li:hover {}
        .pendaf li:hover a {
            opacity: 1;
            max-width: 150px;
            transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
        }
.up{
   width: 50px;
   height: 50px;
   border-radius: 50%;

}