.btn-success {
    color: #fff;
    background-color: #65CEA7;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #4cae4c;
    background-color: #fff;
    border-color: #4cae4c;
}

.form-control{
	color: 	#229C6F;
	font-size: 14px;
	font-weight: none;
}

