.form-control{
    border-color:#c2c2c2;
    height:35px;
}
.form-group{
    margin-bottom: 0;
}
.modal-dialog{
    width:700px;
}
.panel .panel-body{
    padding: 10px;
}
.bxlow{
	height:350px;
}
.krj{
	padding: 20px;
	border-bottom: 2px solid #ececfb;
}
.